$wt: white;
$fg: #212936;

$c-border: #E5E7EB;
$c-g10: #FCFCFC;
$c-g50: #F8F8F9;
$c-g100: #F0F2F4;
$c-g200: #E5E7EB;
$c-g300: #D1D5DB;
$c-g400: #9DA3AE;
$c-g500: #6C727F;
$c-g600: #4D5562;
$c-g700: #394150;
$c-g800: #212936;
$c-g900: #171A22;

$c-b10: #FFF6F6;
$c-b100: #FFDBDA;
$c-b200: #FFD1D0;
$c-b300: #FFA5A3;
$c-b400: #FF6461;
$c-b500: #E32924; /*기본 레드 컬러*/
$c-b600: #C9120D;
$c-b700: #AF0400;
$c-b800: #820300;
