/* ----------------------------------
 * Fonts
 * ---------------------------------- */
@font-face {
  font-family: Pretendard;
  src: url(/fonts/pretendard/Pretendard-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Pretendard;
  src: url(/fonts/pretendard/Pretendard-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: Pretendard;
  src: url(/fonts/pretendard/Pretendard-SemiBold.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: Pretendard;
  src: url(/fonts/pretendard/Pretendard-Bold.woff2) format("woff2");
  font-weight: 700;
}

/* ----------------------------------
 * Root
 * ---------------------------------- */

html,
body {
  font-family:
    Pretendard,
    Apple SD Gothic Neo,
    nanumgothic,
    나눔고딕,
    arial,
    sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
