/* colors - start */

.bg-w {
  background-color: $wt;
}

.bg-g {
  background-color: $c-g50;
}

/* colors - end */

/* 기본 설정 - start */

#__nuxt {
  height: 100dvh;
}

html {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

body {
  margin: auto;
  overflow: hidden;
  border: 1px solid #171a22;
  position: relative;
}

@media (min-width: 769px) {
  body {
    width: 480px;
    height: 820px;
  }
}

@media (max-width: 768px) {
  body {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    max-width: 480px;
  }
}

* {
  color: $c-g800;
}

p {
  line-height: 1.3;
}

input,
button {
  width: 100%;
  height: 45px;
}

input {
  padding: 0 14px;
  border: 1px solid $c-g400;
  border-radius: 6px;
  font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
  width: 24px;
  height: 24px;
}

// input type="number"에서 화살표 위아래 표시 안보이게 하는 것
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.disabled {
  background-color: $c-g200;
}

button {
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* 기본 설정 - end */

/* 공통 - start */
::-webkit-scrollbar {
  /* 스크롤바의 폭 너비 */
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: $c-g500; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
::-webkit-scrollbar-track {
  background-color: $c-g200; /*스크롤바 뒷 배경 색상*/
}

section {
  > .contents {
    padding: 0 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; /* iOS에서 자연스러운 스크롤링을 위해 추가 */
    scroll-behavior: smooth;
    margin-bottom: 2rem;
    width: 100%;
  }
  .bottom {
    border-top: 1px solid $c-g600;
    padding: 1.5rem 0 1rem;
  }
}

@media (min-width: 769px) {
  section {
    padding: 1.5rem;
    > .contents {
      /* 기본 높이 (수정x) | 수정 시 각각의 별도 페이지에서 지정 */
      height: 470px;
    }
    .bottom {
      padding-top: 2rem;
    }
  }
}

@media (max-width: 768px) {
  section {
    padding: 0.8rem;
  }
}

@media (max-width: 260px) {
  section {
    > .contents {
      .dataList {
        > ul {
          > li {
            > div {
              > ul {
                &:nth-child(1) {
                  li {
                    flex-direction: column;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* button */
button.line {
  color: $c-g600;
  border: 1px solid $c-g300;
}

button.line-active {
  color: $c-b500;
  border: 1.8px solid $c-b500;
}

button.line-hp {
  color: $c-g600;
  border: 1px solid $c-g900;
}

button.default {
  box-shadow: 0 5px 10px $c-g200;
  background-color: $c-g300;
  color: $c-g500;
  border: none;
}
button.red-active {
  box-shadow: 0 5px 10px $c-b200;
  background-color: $c-b500;
  color: $wt;
  border: none;
}
button.hide {
  display: none;
}
/* margin */
.mb-btm-6 {
  margin-bottom: 6px;
}

.mb-btm-20 {
  margin-bottom: 20px;
}

/* 체크박스 */
.custom-checkbox {
  /* 체크박스를 숨김 */
  opacity: 0;
  position: absolute;
  & + label {
    // 비활성화
    /* 라벨 디자인 */
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    height: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    &:before {
      /* 체크박스 대신 보여질 박스 */
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      background: $wt; /* 배경색 */
      border: 2px solid $c-g400;
      border-radius: 5px;
    }
    &:after {
      /* 체크 표시 디자인 */
      content: "";
      position: absolute;
      left: 8px;
      top: 2px;
      width: 4px;
      height: 12px;
      border: solid $c-g400; /* 체크표시 */
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    span.essential {
      color: $c-b500;
    }
    span.select {
      color: $c-g500;
    }
  }
  &:checked {
    & + label {
      // 활성화
      &:before {
        /* 체크됐을 때의 디자인 */
        border: 2px solid $c-b500;
        background: $c-b500; /* 배경색 변경 */
      }
      &:after {
        /* 체크 표시 디자인 */
        content: "";
        position: absolute;
        left: 8px;
        top: 2px;
        width: 4px;
        height: 12px;
        border: solid $wt; /* 체크표시 */
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}

.textDatas {
  border: 1px solid $c-g300;
  padding: 10px;
  padding-right: 6px;
  border-radius: 3px;
  > .inner {
    color: $c-g700;
    overflow-y: auto;
    overflow-x: hidden;
    height: 120px;
    padding-right: 5px;
    white-space: pre-wrap;
    line-height: 1.3;
    &::-webkit-scrollbar {
      /* 스크롤바의 폭 너비 */
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: $c-g500; /* 스크롤바 색상 */
      border-radius: 10px; /* 스크롤바 둥근 테두리 */
    }
    &::-webkit-scrollbar-track {
      background-color: $c-g200; /*스크롤바 뒷 배경 색상*/
    }
  }
}

/* 홈넘버 조회 (회원 / 비회원) */
.dataList {
  /* 홈넘버 리스트 */
  > ul {
    > li {
      margin-bottom: 14px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
      > div {
        display: flex;
        padding: 16px;
        border: 1px solid;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        &.default-line {
          border-color: $c-g200;
        }
        &.active-line {
          border-color: $c-b500;
        }
        > div:nth-child(1) {
          width: 8%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 10px;
          > span {
            img {
              width: 24px;
              margin-bottom: 6px;
            }
          }
          p {
            font-weight: bold;
            &.active {
              color: $c-b500;
            }
          }
        }
        > div:nth-child(2) {
          width: 88%;
          margin-left: 4%;
          margin-bottom: 5px;
          > div {
            display: flex;
            align-items: center;
            > ul {
              width: 75%;
              li {
                display: flex;
                margin: 8px 0;
                &:nth-child(1) {
                  font-weight: 900;
                  font-size: 20px;
                  div {
                    &:nth-child(1) {
                      margin-right: 4px;
                    }
                  }
                }
                &:nth-child(2) {
                  font-weight: 600;
                  font-size: 18px;
                  div {
                    height: 18px;
                    &:nth-child(1) {
                      padding-right: 6px;
                      border-right: 1px solid $c-g400;
                    }
                    &:nth-child(2) {
                      padding-left: 6px;
                    }
                  }
                }
              }
            }
            > button {
              width: 25%;
            }
          }
          > ul {
            > li {
              font-size: 14px;
              line-height: 1.1rem;
            }
          }
        }
      }
    }
  }
}

@media (min-height: 741px) and (max-height: 896px) {
  .dataList {
    > ul {
      > li {
        > div {
          padding: 10px;
          > div {
            &:nth-child(1) {
              > p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-height: 740px) {
  .dataList {
    > ul {
      > li {
        > div {
          padding: 10px;
          > div {
            &:nth-child(1) {
              > span {
                img {
                  width: 20px;
                }
              }
              > p {
                font-size: 12px;
              }
            }
            &:nth-child(2) {
              > div {
                > ul {
                  > li {
                    &:nth-child(1) {
                      font-size: 18px;
                    }
                    &:nth-child(2) {
                      font-size: 16px;
                    }
                  }
                }
              }
              > ul {
                > li {
                  > div {
                    &:nth-child(1) {
                      flex-direction: column;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 512px) {
  .dataList {
    > ul {
      > li {
        > div {
          padding: 10px;
          > div {
            &:nth-child(1) {
              > p {
                font-size: 13px;
              }
            }
            &:nth-child(2) {
              > div {
                > ul {
                  > li {
                    &:nth-child(1) {
                      font-size: 20px;
                    }
                    &:nth-child(2) {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .dataList {
    > ul {
      > li {
        > div {
          padding: 10px;
          > div {
            &:nth-child(1) {
              > p {
                font-size: 11px;
              }
            }
            &:nth-child(2) {
              > div {
                > ul {
                  > li {
                    &:nth-child(1) {
                      font-size: 14px;
                    }
                    &:nth-child(2) {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 홈넘버 발급/수정 */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid $c-g700;
}

/* input 디자인 폼 */
.input-text {
  font-weight: bold;
  span {
    color: $c-b500;
  }
}

@media (min-width: 769px) {
  .input-text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .input-text {
    margin-bottom: 10px;
  }
}

.inputDatas {
  .inner {
    ul {
      > li {
        &:last-child {
          margin-bottom: 0;
        }
        > div {
          &:nth-child(2) {
            ul {
              > li {
                display: flex;
                justify-content: space-between;
                > div {
                  &:nth-child(1) {
                    width: 60%;
                  }
                  &:nth-child(2) {
                    width: 40%;
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 466px) {
  .inputDatas {
    .inner {
      ul {
        > li.addInp {
          align-items: flex-start;
          > div {
            &:nth-child(1) {
              padding: 14px 0;
            }
          }
        }
        > li {
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          > div {
            &:nth-child(1) {
              width: 30%;
            }
            &:nth-child(2) {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 70%;
              ul {
                > li {
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 465px) {
  .inputDatas {
    .inner {
      ul {
        > li {
          margin-bottom: 20px;
          > div {
            &:nth-child(2) {
              ul {
                > li {
                  flex-direction: row;
                  > div {
                    width: 100%;
                    &:nth-child(1) {
                      margin-bottom: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* 공통 - end */
